{%extends 'base.html'%}


{% block content%}
<div class="container">
<div class="row">

 <div class=" col-md-3">
          <div class="card card-body">
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                 <form action="" class="form-inline">
                  <input type="text" class="form-control mr-sm-2">
                  <button class="btn btn-primary type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">

                  {% for post in posts %}
  
                    {% for category in post.categories.all %}
                      <a href="{% url 'blog_category' category.name %}">
                      {{ category.title }}<br>
                      </a>
                      {% endfor %}

                  {% endfor %}

              </div><!-- End sidebar categories-->

            </div>

          </div>
      </div>





	
      <div class="col-md-9">
        <div class="card card-body">
		<h1>{{ project.title }}</h1>
    <small>
        Departments:&nbsp;
        {% for department in project.departments.all %}
        <a href="{% url 'nce:departments' department.name %}">
            {{ department.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
        <p>{{ project.contents | linebreaks }}</p>
    </div>
	</div>






</div>
</div>

{%endblock%}