{%extends 'blog/blogbase.html'%}

{%block blog-content%}
<div class="container">
<div class="row">
      <div class="col-md-8">
        <div class="card card-body">
     
          <h1>{{ post.title }}</h1>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
        <p>{{ post.body | linebreaks }}</p>
            <h3>Leave a comment:</h3>
            <form action="/blog/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                {{ form.author }}
                </div>

                <div class="form-group">

                {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                <h3>Comments:</h3>
                {% for comment in comments %}
                    <p>
                        On {{comment.created_on.date }}&nbsp;
                        <b>{{ comment.author }}</b> wrote:
                    </p>
                    <p>{{ comment.body }}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>




      <!--=====START OF THE SECOND CARD FOR SIDEBAR===-->
        <div class=" col-md-4">
          <div class="card card-body">
            <div class="sidebar">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                  {% for post in posts %}
  
                    {% for category in post.categories.all %}
                      <a href="{% url 'blog_category' category.name %}">
                      {{ category.title }}<br>
                      </a>
                      {% endfor %}

                  {% endfor %}

              </div><!-- End sidebar categories-->

            </div>

          </div>
      </div>




        </div>
      </div>


{%endblock%}