{%extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Topics</title>
</head>



<body>
{% block content %}

    <div class="col-md-8">
      <div class=" card card-body">
      	<p>Nceproject is a gathered concept of CYSOFT-HOME NG LTD <br>
      	we are team of professional that offer the following service:
      	<li>we specialize in provideing educational project material </li>
      	<li>we build both web and mobile app of any kind</li>
      	<li>you can choice to hire a writer here from out team of writers</li>

      </p>

      </div>
    </div>
{%endblock%}

  
{%include 'footer.html'%}
</body>
</html>